@import "tailwindcss";
:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8f9fa;
}

.form-style {
  @apply space-y-4;

  & div {
    & label {
      @apply block text-sm font-medium mb-2;
    }
    & input,
    & textarea,
    & select {
      @apply flex w-full rounded-md border border-gray-200 px-3 py-2 text-base file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;
    }

    & input[readonly],
    & textarea[readonly] {
      @apply bg-gray-100 text-gray-500 cursor-not-allowed;
    }
  }

  .no-form input {
    outline: unset !important;
    box-shadow: unset !important;
  }
}